fastapi
uvicorn[standard]
fastapi-cors
requests
tenacity
pyinstaller
pywebview
pystray
Pillow
pytest
httpx
sqlalchemy
alembic
beautifulsoup4
selenium
webdriver-manager
pydantic-settings
celery
python-dotenv
jinja2